//player colors
$primary : #d60000 !default;
$background : #000 !default;
$dark:rgb(4, 0, 27) !default;
$dark-lt:rgb(6, 0, 41) !default;
$light:white !default;
$light-lt:#ffffff25;

// player spcaing
$space: 0.3rem;
